.main-content__wrapper
  width 100%
  max-width 1010px
  padding 48px 10px
  margin 0 auto
  display flex
  justify-content space-between
  box-sizing border-box

@media (max-width: $tablet)
  .main-content__wrapper
    flex-direction column