.info
  width 56%
  padding-top 22px

.info__heading
  padding 0
  margin 0
  margin-bottom 20px
  font-family "PT Sans", Arial, serif
  font-size 40px
  letter-spacing 0.025em
  color #767676

.info__paragraph
  padding 0
  margin 0
  margin-bottom 20px
  font-family "PT Sans", Arial, serif
  font-size 14px
  line-height 22px
  letter-spacing 0.025em
  color #767676

@media (max-width: $tablet)
  .info
    width 100%
    text-align center